.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  h1{
    font-size: 3em;
  }

  a{
    text-decoration: none;
  }
}

.contact-line{
  display: flex;
  flex-direction: row;

  .contact-icon{
    --padding-start: 0px;
    --padding-end: 0px;
    width: 60px;
    height: 60px;
    margin: 10px;
  }
}